html, body {
  min-height: 100vh;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  background-color: #3D5A80
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.button {
  height:20px;
  width: 70px;
}

.file-select {
  background-color: white;
  display: block;
  width: 90px;
  margin: auto;
}

.header-container {
  background-color:#293241;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.header-title {
  color: rgb(255, 255, 255);
  padding: 30px;
}

.button-container {
  margin: 1rem;
  text-align: center;
}

.spacing-button {
  display:inline-block;
  border: none;
  border-radius: 3px;
  padding:1em 2em;
  margin: 1em 0;
  text-decoration:none;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  color:#f1faee;
  background-color: #293241;
  text-align:center;
  transition: all 0.15s;
}

.spacing-button:hover {
  background-color: #EE6C4D;
  cursor: pointer;
}

.text-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  color: #f1faee;
}


.error-message {
  color: #EE6C4D;
  font-family: 'Play', sans-serif;
  font-size: 1.1em;
  font-weight: 800;
}

.submit-message {
  color: #daf6f8;
  font-family: 'Play', sans-serif;
}

.checkmark {
  display: inline;
  margin-top: 20px;
}

h2 {
  color: #E0FBFC;
  font-family: 'Play', sans-serif;
  margin: 50px 0px;
}

.leaflet-popup-content-wrapper{
  background-color: #3D5A80;
}

.file-uploader {
  color: white;
  width: 500px;
}

.file-name {
  margin: 0;
  overflow-wrap: break-word;
  width: 100%;
}

.drag-n-drop-text {
  text-align: center;
  margin-right: auto;
  color:white;
  inline-size: 150px;
  overflow-wrap: break-word;
  padding: 5px;
  border: 1px dashed #EE6C4D;
}

.file-button {
  box-sizing:border-box;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: #daf6f8;
  border: 1px dashed #daf6f8;
  cursor: pointer;
  width: 100%;
  max-width: 10rem;
}

.drag-n-drop-file {
  text-align: center;
  margin-right: auto;
  color:white;
  inline-size: 150px;
  overflow-wrap: break-word;
}

h3 {
  color:#dffbfc;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Play', cursive;
}


.leaflet-popup-tip {
  background: #3D5A80;
}


.title-thea {
  padding: 1rem 0;
  font-size: 4em;
  font-family: 'Koulen', cursive;
}

.user-message {
  color: white;
  margin: 1em;
  font-size: 20px;
  font-family: 'Play', cursive;
  font-weight: 400;
}


textarea {
  align-self: center;
  margin: 2rem auto;
  margin-top: 1rem;
  padding: auto;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffffff;
  color: #293241;
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}



.input-form {
  margin: 40px 0px;
  padding: 10px;
}

.form-element {
  margin: 1em;
}

.app-description {
  text-align: center;
  font-family: 'Play', cursive;
  font-size: 1.5rem;
  margin: 5rem;
  color: #E0FBFC;
}

.popup {
  text-align: center;
}


.flex-footer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  background-color: #293241;
  max-height: 250px;
}

.socials-title {
  text-align: center;
  font-family: 'Play', cursive;
  font-size: large;
  margin: 20px;
  color: #E0FBFC;
}


.loader {
  display: flex;
  width: 80px;
  margin: auto;
}

.button-upload {
  border: none;
  color: white;
  padding: .6em .8em;
  background-color: #827979;
  transition: 0.5s;
  margin: 1em;
  font-family: 'Play', cursive;
  font-weight: 400;
}

.button-upload:hover {
  background-color: #FCA311;
}

.message {
  padding: 5px;
  color: #E0FBFC;
  font-family: 'Play', cursive;
  font-size: large;
  text-align:justify
}


.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  padding: 20px;
  left: 0;
  background-color: #14213D;
  padding-top: 20px;
}

.social-links {
  display:flex;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px 10px;
}

.images {
  width: 250px;
}

.icons {
  width: 2em;
}

.social-links :hover {
  transition: transform .2s;
  transform: scale(1.1);
}

