.inbl {
  display: inline-block;
}

.Buttonpadd {
  padding: 2rem;
}

#Harris {
  background-color: rgb(133, 124, 124);
  border: 1px solid rgb(10, 10, 10);
}

.bb {
  background-color: rgb(39, 38, 38);
  text-align: center;
  height: 100vh;
}

.Bc {
  background-color: rgb(199, 192, 185);
  margin: auto;
  display: inline-block;
}

.boxp {
  box-sizing: content-box;
  background-color: rgb(184, 179, 172);
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem;
  border: 1px solid rgb(10, 10, 10);
}

img {
  display: inline-block;
}

.Space {
  margin: 2rem;
  color: black
}
h1 {
  display: inline-block;
  text-decoration: underline;
}

p {
  font-size: 1.3rem;
  margin: 2rem;
}
.centr {
  margin: auto;
  width: 50%;
  display: inline-block;
}

.Imagemarg {
  margin: 1rem;
}

